.home-top-container{
    width: 100%;
    height: auto;
}
.home-top-left{
    width: 50%;
    float: left;
}
.home-top-details{
    width: 65%;
    height: auto;
    margin: 25% 5% 10% 30%;
    text-align: right;
}
.home-top-details p{
    color: rgb(12, 12, 80);
    font-size: 1.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0% 0% 3%;
}

.home-top-right{
    width: 50%;
    float: left;
}
.home-top-right img{
    width: 80%;
    height: auto;
    margin: -5% 0% 10%;
}


@media screen and (max-width:750px) {
    .home-top-left{
        width: 100%;
    }

    .home-top-details{
        width: 60%;
        margin: 25% 20% 5%;
        text-align: left;
    }
    .home-top-right{
        width: 100%;
    }
    .home-top-right img{
        width: 80%;
        height: auto;
        margin: -5% 10% 10%;
    }
    .home-top-details p{
        font-size: 1em;
    }
}