.password-container{
    width: 100%;
    height: 500px;
    overflow: auto;
}
.password-card{
    width: 40%;
    height: auto;
    overflow: auto;
    margin: 4% 30% 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
    border: none;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

.password-card h3{
    margin: 2% 0%;
}


@media screen and (max-width: 750px) {
    .password-card{
        width: 60%;
        margin: 10% 20% 10%;
    }
    .password-card h3{
        margin: 5% 0%;
    }
    .password-card input{
        width: 70%;
        margin: 4% 0%;
    }
    .password-card button{
        margin: 10% 0%;
        height:20px;
        font-size: 0.7em;
        padding: 0% 3%;
    }
}